html {
    font-size: 16px;
    text-shadow: 0.25rem 0.25rem 0.5rem #8c0404;
    color: #F3C0B2;
}
body {
    background: url("main.jpg") no-repeat fixed center center;
    background-size: cover;
}
.layer {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
h1, h2, h3 {
    font-family: cursive, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 0.2rem;
}
h1 {
    font-size: 60px;
    text-shadow: 5px 5px 6px #F0EDEA;
    text-transform: uppercase;
}
p img {
    float: left;
    margin-right: 5rem;
    width: 20rem;
}
b {
    font-size: 1.35rem;
}
#table-container{
    clear: both;
}
table {
    width: 100%;
    height: 15rem;
    border: 0.125rem solid white;
    border-collapse: collapse;
}
td {
    border: 0.125rem solid white;
    overflow: hidden;
}
#table1 td {
    width: 50%;
}
#table2 td {
    width: 33%;
}
table h3 {
    padding-left: 1rem;
    text-align: left;
}
table img {
    margin: 0.625rem;
    width: 20%;
    height: auto;
    border-radius: 3.125rem;
    display: inline;
    float: left;
}
#table2 img {
    border-radius: 2rem;
}
table img:hover {
    -moz-animation-name: zoomIn;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
table img:not(:hover) {
    -moz-animation-name: zoomOut;
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
ul {
    list-style-position: inside;
}
a {
    text-decoration: none;
}
#footer {
    background: linear-gradient(20deg, #fff, #ddd, #fff);
    padding: 1rem;
    text-align: center;
    color: black;
}
@-moz-keyframes zoomIn {
    from {
        width: 20%;
    }
    to {
        width: 23%;
    }
}
@-webkit-keyframes zoomIn {
    from {
        width: 20%;
    }
    to {
        width: 23%;
    }
}
@keyframes zoomIn {
    from {
        width: 20%;
    }
    to {
        width: 23%;
    }
}
@-moz-keyframes zoomOut {
    from {
        width: 23%;
    }
    to {
        width: 20%;
    }
}
@-webkit-keyframes zoomOut {
    from {
        width: 23%;
    }
    to {
        width: 20%;
    }
}
@keyframes zoomOut {
    from {
        width: 23%;
    }
    to {
        width: 20%;
    }
}
